// Run sass: sass --watch ./react-github-user-card/src/App.scss ./react-github-user-card/src/App.css

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #24292e;
  height: 100%;
}

.Profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4%;
    margin: 10%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }

    .profile {
      display: flex;
    }
  }

  .FollowersList  {
    text-align: center;

    input {
      width: 200px;
      height: 25px;
    }
  }

  .FollowerCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-top: 8%;

    a {
      color: white;
      text-decoration: none;
    }
  }
